<html>
<head>

<link rel="stylesheet" type="text/css" href="/site.css"></link>

</head>

<body>
  <h1>My Trips</h1>
  <form action="/trip" method="POST">
  <input type="text" name = "tripTitle" placeholder="Enter Destination"/>
  <input type="text" name="departureDate" placeholder="Departure Date"/>
  <input type="text" name="returnDate" placeholder="Return Date"/>
  <input type="submit"/>
</form>

</body>

</html>
